node_red_code
[{"id":"b33cb721.7d3f58","type":"watson-natural-language-classifier","z":"f15b603a.b1d4d8","name":"Node","mode":"classify","language":"en","classifier":"2d7aefx102-nlc-3824","x":430,"y":203,"wires":[["16f16112.0f366f"]]},{"id":"dfd38b48.46cf68","type":"twitter in","z":"f15b603a.b1d4d8","twitter":"","tags":"@kartik543214","user":"false","name":"tweets","topic":"tweets","x":245,"y":207,"wires":[["44bbf1d3.c557b8"]]},{"id":"44bbf1d3.c557b8","type":"function","z":"f15b603a.b1d4d8","name":"Process","func":"msg.sender=msg.tweet.user.screen_name;\nreturn msg;\n","outputs":1,"noerr":0,"x":333,"y":313,"wires":[["b33cb721.7d3f58"]]},{"id":"7f9fc7ae.c18258","type":"twitter out","z":"f15b603a.b1d4d8","twitter":"","name":"Tweet","x":590,"y":200,"wires":[]},{"id":"16f16112.0f366f","type":"function","z":"f15b603a.b1d4d8","name":"return","func":"if(msg.payload.top_class == \"PrivateSchools\")\n    {\n        msg.payload =\"@\"+msg.sender + \" \"  + \"Top Private Schools \"+\"1. Daly College,Indore \" +\"2. Delhi Public School, Delhi \" +\"3. Modern School, Delhi\";\n    }\nelse if(msg.payload.top_class == \"CommerceColleges\")\n    {\n         msg.payload =\"@\"+msg.sender + \" \"  + \"Top Commerce Colleges \"+\"1. Shri Ram College of Commerce \" +\"2. Lady Shri Ram College For Women \" +\"3. Loyala College, Chennai\";\n    }\nelse if(msg.payload.top_class == \"EnggineeringColleges\")\n    {\n         msg.payload =\"@\"+msg.sender + \" \" +\"Top Engineering Colleges \" +\n                        \"1. IIT, Bombay \" +\n                        \"2. IIT, Madras \" +\n                        \"3. IIT, Delhi\";\n    }\nelse if(msg.payload.top_class == \"MedicalColleges\")\n    {\n         msg.payload =\"@\"+msg.sender + \" \" + \"Top Medical Colleges \" +\n                        \"1. AIIMS, New Delhi \" +\n                        \"2. Christ Medical College, Vellore \" +\n                        \"3. Armed Forces Medical College, Pune\";\n    }\nelse if(msg.payload.top_class == \"LawColleges\")\n    {\n         msg.payload =\"@\"+msg.sender + \" \" +\"Top Law Colleges \" +\n                        \"1. National Law School Of India, Bangalore \" +\n                        \"2. Rajiv Gandhi School of Intellectual \" +\n                        \"3. Modern School, Delhi\";\n    }\nelse if(msg.payload.top_class == \"IITCoaching\")\n    {\n         msg.payload =\"@\"+msg.sender + \" \" + \"Top IIT Coaching \" +\n                        \"1. Vibrant Academy \" +\n                        \"2. Resonance\" +\n                        \"3. Bansal classes\";\n    }\nelse if(msg.payload.top_class == \"GovernmentSchools\")\n    {\n         msg.payload =\"@\"+msg.sender + \" \" + \"Top Government Colleges \" +\n                        \"1. Indian Institute of Technology Kharagpur \" +\n                        \"2. Indian Institute of Technology Guwahati \" +\n                        \"3. Indian Institute of Technology BHU\";\n    }\nelse if(msg.payload.top_class == \"PMTCoaching\")\n    {\n         msg.payload =\"@\"+msg.sender + \" \" + \"Top PMT Coaching \" +\n                        \"1. Aakash Institute \" +\n                        \"2. Allen Career Institute \" +\n                        \"3. Brilliant Tutorials\";\n    }\nelse if(msg.payload.top_class == \"CPTCoaching\")\n    {\n         msg.payload =\"@\"+msg.sender + \" \" + \"Top CPT Coaching \" +\n                        \"1. Topper Institute\" +\n                        \"2. Ajay Jain Institute \" +\n                        \"3. AKN institute od CA\";\n    }\nelse if(msg.payload.top_class == \"IASCoaching\")\n    {\n         msg.payload =\"@\"+msg.sender + \" \" + \"Top IAS Coaching \" +\n                        \"1. Rau's Study Circle for IAS, Delhi   \" +\n                        \"2.Brilliant Tutorials Pvt. Lmt., Chennai  \" +\n                        \"3.Brain Tree India, Hyderabad \";\n    }\nelse if(msg.payload.top_class == \"BoardingSchools\")\n    {\n         msg.payload =\"@\"+msg.sender + \" \" + \"Top Boarding Schools \" +\n                        \"1.  Sahyadri School, Pune \" +\n                        \"2.  Rishi Valley School, Chittoor \" +\n                        \"3. Lawrence School, Sanawar\";\n    }\nelse if(msg.payload.top_class == \"DanceAcademies\")\n    {\n         msg.payload =\"@\"+msg.sender + \" \" + \"Top Dance Academies \" +\n                        \"1.  Skidmore College \" +\n                        \"2.  Juilliard \" +\n                        \"3.  Mason Gross School of the Arts\";\n    }\nelse if(msg.payload.top_class == \"ArtSchools\")\n    {\n         msg.payload =\"@\"+msg.sender + \" \" + \"Top Art Schools \" +\n                        \"1.  Royal College of Art \" +\n                        \"2.  Parsons The New School for Design \" +\n                        \"3.  Rhode Island School of Design RISD\";\n    }\nelse if(msg.payload.top_class ==\"Movies\")\n    {\n         msg.payload =\"@\"+msg.sender + \" \" + \"Top Movies of all time \" +\n                        \"1.  The Wizard of Oz \" +\n                        \"2.  The Third Man \" +\n                        \"3.  Citizen Kane\";\n    }\nelse if(msg.payload.top_class ==\"Songs\")\n    {\n         msg.payload =\"@\"+msg.sender + \" \" + \"Top Songs of all time \" +\n                        \"1.  THE TWIST,Chubby Checker\" +\n                        \"2.  SMOOTH,Santana Featuring Rob Thomas\" +\n                        \"3.  MACK THE KNIFE,Bobby Darin\";\n    }\nelse if(msg.payload.top_class ==\"Singers\")\n    {\n         msg.payload =\"@\"+msg.sender + \" \" + \"Top Singers of all time \" +\n                        \"1.  Aretha Franklin \" +\n                        \"2.  Ray Charles \" +\n                        \"3.  Elvis Presley\";\n    }\nelse if(msg.payload.top_class ==\"Actresses\")\n    {\n         msg.payload =\"@\"+msg.sender + \" \" + \"Top Bollywood Actresses \" +\n                        \"1.  Deepika Padukone \" +\n                        \"2.  Priyanka Chopra \" +\n                        \"3.  Kareena Kapoor\";\n    }\nelse if(msg.payload.top_class ==\"Actors\")\n    {\n         msg.payload =\"@\"+msg.sender + \" \" + \"Top Bollywood Actors \" +\n                        \"1. Shah Rukh Khan \" +\n                        \"2. Amitabh Bachchan\" +\n                        \"3. Salman Khan \";\n    }\nelse if(msg.payload.top_class ==\"MusicDirectors\")\n    {\n         msg.payload =\"@\"+msg.sender + \" \" + \"Top Indian Music Directors of all Time \" +\n                        \"1. A.R. Rehman   \" +\n                        \"2. Ilaiyaraaja  \" +\n                        \"3. RD. Burman  \";\n    }\nelse if(msg.payload.top_class ==\"GuitarArtists\")\n    {\n         msg.payload =\"@\"+msg.sender + \" \" + \"Top Guitarists of all time \" +\n                        \"1. Jimi Hendrix  \" +\n                        \"2. Duane Allman  \" +\n                        \"3. B.B. King\";\n    }\nelse if(msg.payload.top_class ==\"TablaArtists\")\n    {\n         msg.payload =\"@\"+msg.sender + \" \" + \"Top tabla Artists of All Time \" +\n                        \"1. Zakir Hussain  \" +\n                        \"2. Alla Rakha \" +\n                        \"3. Samta Prasad \";\n    }\nelse if(msg.payload.top_class ==\"Soaps\")\n    {\n         msg.payload =\"@\"+msg.sender + \" \" + \"Top  serials to watch in india  \" +\n                        \"1.  Yeh Rishta Kya Kehlata Hai  \" +\n                        \"2.  Taarak Mehta Ka Ooltah Chashmah \" +\n                        \"3.  Saath Nibhaana Saathiya\";\n    }\nelse if(msg.payload.top_class ==\"RealityShows\")\n    {\n         msg.payload =\"@\"+msg.sender + \" \" + \"Top Reality shows in India \" +\n                        \"1.  Big Boss \" +\n                        \"2.  Indian Idol \" +\n                        \"3.  MTV Roadies\";\n    }\nelse if(msg.payload.top_class ==\"RomanticSongs\")\n    {\n         msg.payload =\"@\"+msg.sender + \" \" + \"Top Romantic Songs \" +\n                        \"1.  Sanam Re \" +\n                        \"2.  Yeh Kaisi Jagah \" +\n                        \"3.  Baatein Ye Kabhi Na\";\n    }\nelse if(msg.payload.top_class ==\"PartySongs\")\n    {\n         msg.payload =\"@\"+msg.sender + \" \" + \"Top Party Songs Of all time \" +\n                        \"1. Bang Bang  \" +\n                        \"2. Aata Majhi Satakli \" +\n                        \"3. Chaar Botal Vodka \";\n    }\nelse if(msg.payload.top_class ==\"BestBooks\")\n    {\n         msg.payload =\"@\"+msg.sender + \" \" + \"Best Books of all Time \" +\n                        \"1.  To kill A Mockingbird-Harper Lee \" +\n                        \"2.  1984-George Orwell \" +\n                        \"3.  The Lord Of The Rings-J.R.R Tolkien\";\n    }\nelse if(msg.payload.top_class ==\"WorstBooks\")\n    {\n         msg.payload =\"@\"+msg.sender + \" \" + \"Worst Books Of All Time \" +\n                        \"1.  Twilight(#1)-Stephenie Meyer \" +\n                        \"2.  Breaking Dawn-Stephenie Mayer\" +\n                        \"3.  New Moon-Stephenie Mayer \" ;\n    }\nelse if(msg.payload.top_class ==\"FictionBooks\")\n    {\n         msg.payload =\"@\"+msg.sender + \" \" + \"Top Fiction Books \" +\n                        \"1.  The God of Small Things \" +\n                        \"2.  The White Tiger \" +\n                        \"3.  Midnight's Children\";\n    }\nelse if(msg.payload.top_class ==\"Biographies\")\n    {\n         msg.payload =\"@\"+msg.sender + \" \" + \"Best Biographies of all Time\" +\n                        \"1.  Unbroken-Laura Hillenbrand \" +\n                        \"2.  The Autobiography of Malcolm X\" +\n                        \"3.  The diary of a Young Girl-Anne Frank\";\n    }\nelse if(msg.payload.top_class ==\"Authors\")\n    {\n         msg.payload =\"@\"+msg.sender + \" \" + \"Best authors of All Time \" +\n                        \"1.  William Shakespeare \" +\n                        \"2.  Leo Tolstoy \" +\n                        \"3.  Charles Dickens\";\n    }\nelse if(msg.payload.top_class ==\"BeautifulWomen\")\n    {\n         msg.payload =\"@\"+msg.sender + \" \" + \" Beautiful Women \" +\n                        \"1.  Selena Gomez (USA) \" +\n                        \"2.  Liza Soberano (Philippines) \" +\n                        \"3.  Deepika Padukone (India)\";\n    }\nelse if(msg.payload.top_class ==\"HottestWomen\")\n    {\n         msg.payload =\"@\"+msg.sender + \" \" + \"Hottest Women \" +\n                        \"1. Shailene Woodley \" +\n                        \"2. Jennifer Lopez \" +\n                        \"3. Deepika Padukone\";\n    }\nelse if(msg.payload.top_class ==\"HottestMen\")\n    {\n         msg.payload =\"@\"+msg.sender + \" \" + \"Top hottest men \" +\n                        \"1. Ranveer Singh \" +\n                        \"2. Hrithik Roshan \" +\n                        \"3. Shah Rukh Khan\";\n    }\nelse if(msg.payload.top_class ==\"SexiestMen\")\n    {\n         msg.payload =\"@\"+msg.sender + \" \" + \"Top sexiest men \" +\n                        \"1.  Jensen Ackles\" +\n                        \"2.  Jared Padalecki \" +\n                        \"3. Johnny Depp \";\n    }\nelse if(msg.payload.top_class ==\"Comedians\")\n    {\n         msg.payload =\"@\"+msg.sender + \" \" + \"Top comedians \" +\n                        \"1. George Carlin\" +\n                        \"2. Louis C.K.\" +\n                        \"3. Dave Chappelle \";\n    }\nelse if(msg.payload.top_class ==\"HorrorMovies\")\n    {\n         msg.payload =\"@\"+msg.sender + \" \"+\"Top horror movies \" +\n                        \"1. The Exorcist \" +\n                        \"2. The Shining \" +\n                        \"3. The Conjouring \";\n    }\nelse if(msg.payload.top_class ==\"Fashion Brands\")\n    {\n         msg.payload =\"@\"+msg.sender + \" \" + \"Top fashion brands\" +\n                        \"1. LEVIS\" +\n                        \"2.  Park Avenue\" +\n                        \"3. Allen Solly\";\n    }\nelse if(msg.payload.top_class ==\"FashionsDesigners\")\n    {\n         msg.payload =\"@\"+msg.sender + \" \"+\"Top Fashion designers\" +\n                        \"1. Manish Malhotra \" +\n                        \"2. Sabyasachi Mukherji\" +\n                        \"3. Tarun Tahiliani \";\n    }\nelse if(msg.payload.top_class ==\"FashionColleges\")\n    {\n         msg.payload =\"@\"+msg.sender + \" \" + \"Top fashion colleges \" +\n                        \"1. National Institute of Fashion Technology (NIFT) Delhi \" +\n                        \"2. Pearl Academy\" +\n                        \"3. National Institute of Fashion Technology (NIFT) Mumbai\";\n    }\nelse if(msg.payload.top_class ==\"Shoes\")\n    {\n         msg.payload =\"@\"+msg.sender + \" \" + \"Top shoes brands \" +\n                        \"1. Reebok \" +\n                        \"2. Adidas \" +\n                        \"3. Nike\";\n    }\nelse if(msg.payload.top_class ==\"deodrants\")\n    {\n         msg.payload =\"@\"+msg.sender + \" \" + \"Top deodrants brands \" +\n                        \"1. Fogg  \" +\n                        \"2. Park Avenue\" +\n                        \"3. AXE\";\n    }\nelse if(msg.payload.top_class ==\"Jewellary\")\n    {\n         msg.payload =\"@\"+msg.sender + \" \" + \"Top jewellary brands \" +\n                        \"1. Tanishq \" +\n                        \"2. Nakshatra Diamond Jewellery  \" +\n                        \"3. D'Damas Jewellery \";\n    }\nelse if(msg.payload.top_class ==\"Restaurents\")\n    {\n         msg.payload =\"@\"+msg.sender + \" \" + \"Top Restaurants in Bangalore \" +\n                        \"1. Karavalli \" +\n                        \"2. High Ultra Lounge  \" +\n                        \"3. The Ritz-Carlton \";\n    }\nelse if(msg.payload.top_class ==\"Programmers\")\n    {\n         msg.payload =\"@\"+msg.sender + \" \" + \"My Parents \" +\n                        \"1. Kartik \" +\n                        \"2. Indranil  \" +\n                        \"3. Vrinda \"+\"They Created Me\";\n    }\nelse if(msg.payload.top_class ==\"Cities\")\n    {\n         msg.payload =\"@\"+msg.sender + \" \" + \"Places to visit Tommorow \" +\n                        \"1. Rangoli Metro Art Centre \" +\n                        \"2. Bannerghatta National Park  \" +\n                        \"3. Vidhan Soudha\";\n    }\nelse if(msg.payload.top_class ==\"tomorrow\")\n    {\n         msg.payload =\"@\"+msg.sender + \" \" + \"Movies to Watch Tommorow \" +\n                        \"1. M.S Dhoni \" +\n                        \"2. Master Minds  \" +\n                        \"3. Deepwater Horizon\";\n    }    \n    return msg;\n","outputs":1,"noerr":0,"x":515,"y":103,"wires":[["7f9fc7ae.c18258","8dc15ff1.10f4d"]]},{"id":"8dc15ff1.10f4d","type":"debug","z":"f15b603a.b1d4d8","name":"","active":true,"console":"false","complete":"payload","x":694,"y":133,"wires":[]}]
